name: Build Windows
# https://github.com/actions/virtual-environments

on:
  push:
    tags:
      - '*'

  workflow_dispatch:

env:
    DOTNETVERSION: 6.0.x

jobs:
  build-mac:
    runs-on: windows-latest
    name: Windows Build
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{env.DOTNETVERSION}}
          include-prerelease: true

      - name: Restore Dependencies
        run: dotnet restore src/DotnetDumpMonitor/DotnetDumpMonitor.csproj

      - name: Build App
        run: dotnet publish src/DotnetDumpMonitor/DotnetDumpMonitor.csproj -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
            
      - name: Upload App Artifact
        uses: actions/upload-artifact@v2.3.1
        with:
          name: windows-ci-build
          path: src/DotnetDumpMonitor/bin/Release/net6.0-windows/win-x64/publish/
